#header a {
  color: #007bff;
  font-weight: bold;
  text-shadow: 1px 1px 3px #1a1a1a;
  font-size: 30px;
  transition: all .4s;
}
#header a:hover {
  transform : scale(1.5) ;
}

#title {
  text-shadow: 2px 2px #1a1a1a;
}

#avatar {
  box-shadow: 3px 3px 10px #1a1a1a;
}

#footer {
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #007bff;
  padding: 5px;
}